*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
}

body{
    height: 100%;
    width: 100%;
}

#top-bar{
    background-color: black;
    height: 50px;
    width: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#button{
    color: white;
    background-color: blue;
    padding: 5px;
}

#profile{
    color: white;
    display: flex;
    align-items: center;
}

li{
    padding: 10px;
    list-style: none;
}

h1{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top{
    background-color: rgb(41, 138, 202);
    height: 70px;
    padding: 15px;
}

#marker{
    width: 10px;
}

#bottom{
    padding: 30px;
    padding-top: 40px;
}

#seattle{
    margin-bottom: 10px;
    height: 20px;
    width: 10px;
    display: flex;
}

#cog{
    width: 15px;
    height: 15px;
}

#last{
    margin-top: 10px;
    height: 30px;
    width: 150px;
    display: flex;
}

.secondbox{
    background-color: white;
    height: 750px;
    width: 750px;
    display: flex;
}

#leftCol{
    margin-right: 20px;
    margin-left: 50px;
    padding: 10px;
}

#rightCol{
    height: 700px;
    width: 200px;
}

#leftTop{
    height: 250px;
    width: 100%;
    background-color: white;
    margin-bottom: 100px;
    border: 2px solid gray;
}

#rightBot{
    height: 219px;
    width: 200px;
    border: 2px solid grey;
}

#rightTop{
    height: 140px;
    width: 100%;
    background-color: white;
    margin-bottom: 100px;
    margin-top: 15px;
    border: 2px solid gray;
}

#pic{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: relative;
    top: 40%;
}

#bottom>h1{
    color: black;
}

.push{
    margin-left: 5px;
}

#edu{
    height: 30px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 20px;
}

#leftBot{
    height: 150px;
    width: 100%;
    border: 1px solid grey;
}

#line1{
    padding: 8px;
}

#line2{
    padding: 8px;
}

#line3{
    padding: 8px;
}

.todd{
    height: 35px;
    width: 35px;
    display: flex;
    border-radius: 50%;
    margin-left: 4px;
    display: flex;
}

#connection{
    height: 30px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
}

img{
    height: 20px;
    width: 20px;
    display: flex;
}

.connectionRow{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#num{
    border-radius: 50%;
    background-color: gray;
    height: 40px;
    width: 30px;
    padding: 0 5px;
    margin-right: 10px;
}

.connectionRow2{
    display: flex;
    margin-top: 10px;

}

.todd1{
    height: 35px;
    width: 35px;
    display: flex;
    border-radius: 50%;
    margin-left: 5px;

}

#attach{
    height: 40px;
    width: 200px;
    border: 2px solid grey;
    margin-top: 4px;
    margin-left: -2px;
}

#more{
    margin: 10px;
    display: flex;
    
}

.image1{
    align-self: flex-start;

}

.flex{
    display: flex;
}

.fivePxSpace{
    margin: 5px;
}

