*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:azure;
    margin: 20px;
}

.row{
    background-color:dodgerblue ;
    height: 300px;
    border: 10px solid white;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
#row1{
    justify-content: space-between;
}

#row2{
    background-color: plum;
    justify-content: space-evenly;
}

#row3{
    background-color:azure;
    justify-content: space-around;
    margin-bottom: 10px;
}

img{
    /* display: flex; */
    height: 250px;
}
h1{
    text-align: center;
    font-size: 50px;
    }
h3{
    text-align: center;
    font-size: 15px;
}